#corpo{

    background-color:  #01121b;
    font-family: 'Roboto','Inter',sans-serif;
    padding: 0;
 
   
}



header nav{

    background-color: #01121b60;
   
}


nav li {

padding-left: 15px;

}

.nav-link{

    color: aliceblue;
}





/*icone principal menu Home */

.navbar-brand{
    padding: 5px;
}
 


.navbar-brand:hover{


    transform: scale(1.1);
    transition: 1.0s;
    background-color:rgba(0, 255, 255, 0.596);
    left: 0;
    border-radius: 2%;
    
    
       
    }


img{

    -webkit-box-shadow: 5px 5px 37px 17px #000000; 
    box-shadow: 5px 5px 37px 17px #000000;
}








  p{

    color: white;
    font-size: medium;
    font-weight: 100;  
    font-weight: 100;
    text-shadow:  0 0 8px rgba(255, 255, 255, 0.3),0 0 29px #49BF;

    
 }      
 


 h1 {

    color: white;
    text-shadow: 2px 2px 1px #027368;
 }


 main h1{

    color: white;
    font-weight: 100;
    text-shadow: 2px 2px 5px #027368;
    
 }

 main div{

    background-color: #05323d;

}






#video{

    display: cover;
    width: 100%;
    
}



#custom-cards{
    background-color: #01121b;



}


#albumContainer div{
    background-color:  #ffffffce;
   


}



.animate-logo{

    background-color: #0da1f134;
    border-radius: 5px ;
    border-color:  #038C73;
    border-width: 2px;
    border-style: solid;
 
}





/*animação do hero */


.animate-logo:hover{

    transform: scale(1.4);
    transition: 2.0s;
   
   
}

.imgHeroAnime{
    filter: drop-shadow(-2px 2px  15px  #ffff);
   



}


.imgHeroAnime:hover{
    filter: brightness(102%)  drop-shadow(-2px 2px  15px  #59fca0);
    
   

}








/*customizando botões */


.btnStyle {


    border-style: groove;
    border-width: 2px;
    border-color: #011C26;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(#025959,#011C26)  ;
    color:white ;
    border-radius:5%;
    margin: 15px;
  
    width: auto;
    height: auto;
    font-size: medium;
    text-decoration: none;
    box-shadow: -1px 10px 20px 10px rgba(0, 0, 0, 0.726);

   
    
    
    
    
    }
    
    
    .btnStyle::before{
    
        transform:  scale(1.10) ;
        transition: 0.5s;
        background-color: #49BF7C ;
    
    
    }
    
    
    
    .btnStyle:hover{
        transform: scale(1.10);
        transition: ease-in-out  0.5s;
        background: #49BF7C ;
        -webkit-box-shadow:   5px 5px 37px 17px ; 
        border-color: #038C73;
        box-shadow: 5px 5px 37px 17px  #49BF7C ;
        color: white;
        text-shadow:  0 0 8px rgba(255, 255, 255, 0.3),0 0 29px #49BF7C;
            
    
    }

/*botões pequenos */

.btnStyleSmall {
    
    border-style: groove;
    border-width: 2px;
    border-color: #025959;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(#038C73,#011C26)  ;
    color:white ;
    border-radius:5px;
    margin: 15px;
    width: 50px;
    font-size: smaller;
    text-decoration: none;
    box-shadow: -1px 2px 15px 1px rgba(0, 0, 0, 0.726);

}







.btnStyleSmall:hover{
    transform: scale(1.10);
    transition: ease-in-out  0.5s;
    background: #49BF7C ;
    -webkit-box-shadow:   5px 5px 37px 17px ; 
    border-color: #038C73;
    box-shadow: -2px 5px 35px 17px  #49BF7C ;
    text-shadow:  0 0 8px rgba(255, 255, 255, 0.3),0 0 29px #49BF7C;
        

}










    


/*customizando  Cards = backgrounds,textos da Aba Design */

.card-text {

color: #01121b;
font-size: small;

}


.col {

   padding: 10px;
}

.col img{
    border-radius: 10px;
    padding: 5px;

}

.col video{

    padding: 5px;
}



/*customizando  Cards = backgrounds,textos  da aba Desenvolvimento web */

.card-group{

background-color: #02344081;
padding:20px;
margin: 20px;
border-radius: 5px;
color: white;

}

.card-group div{

background-color:#011c26f5;
padding: 5px;
border-color: #038C73;
border-width: 1.5px;


}


.card-group p{
    
    color: white;

}


.card-group .card{

    border-radius: 10px;
  
    background-color: #023440;
   
    
    
}


.card-group .card-body{

    background-color:#025959  ;
}


.card-group img{
    border-radius: 5px;
}

.card-group video{

    border-radius:5px;
   

}




    
    /*animações*/
    


/* animação do menu textos */



.nav-item::before{
    content:"";
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    width: 0%;
    transition: 0.5s ease-in-out;

}





.nav-item:hover::before{
    content:"";
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 2px;
    width: 100%;
    transition: 0.5s ease-in-out;

}





.nav-link:hover{
content: "";
transform: scale(1.05);
transition: 1.0s;
border-radius: 5%;


}






/* animações dos icones da navegação*/

.nav-icon a:hover{

    transform: scale(1.5);
    transition: 1.0s;
    background-color: rgba(0, 255, 255, 0.596);
    left: 0;
 
  
}

/*icones da aba apresentação */

.iconeApresentação{
    padding: 10px;
    

}


.iconeApresentação:hover{

    transform: scale(1.1);
    transition: 0.5s;
    background-color:rgba(0, 255, 255, 0.596);
    
    left: 0;
    

}



/*animação icone do footer*/



.text-body-secondary{


padding: 10px;

}

.text-body-secondary:hover{
   
    transition: 1.5s;
    left: 0;
   

}   


.nav li:hover {
    transform: scale(1.5);
    transition: 1.0s;


}

/* animando todos os cards  */




.card:hover{

    transform: scale(1.02);
    color: #038C73;
    transition: 1.0s;
   

}


/*adicionando opacity  nos cards continue vendo da aba index */


.col:hover{

filter: opacity(80%);

}
















/*animação  Divisões


[data-anime]{

    opacity: 0;
    transition: .3s;


}


[data-anime="left"]{

        transform: translate3d(-50px, 0, 0);

}

[data-anime="right"]{

    transform: translate3d(50px, 0, 0);

}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);


}

*/